body { padding-top: 70px; }
.jumbotron {
    color: purple;
    background: #ffe1e6;
}
.navbar-inverse {
    background: purple;
}
.navbar-inverse .navbar-brand, .navbar-inverse a{
    color:white;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}